@model BugOutBagCAPSTONE.Models.BugOutBagViewModel

@{
    ViewBag.Title = "DeleteBugOutBag";
    Layout = "~/Views/Shared/BugOutBagLayout.cshtml";
}

<h2>Delete Item</h2>
@using (Html.BeginForm("DeleteBugOutBag", "BugOutBag", FormMethod.Post))
{
    <table>
        <tr>
            <td>Which Bug Out Bag would you like to delete?</td>

        </tr>
        <tr>
            <td>@Html.DropDownListFor(x => x.SingleBugOutBag.PKBugOutBagID, Model.BugOutBagSelectList)</td>

        </tr>

        <tr><td><input type="submit" /></td></tr>
    </table>
}