{@model BugOutBagCAPSTONE.Models.SupplierViewModel

    @{
        ViewBag.Title = "SupplierRegistration";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <h2>Vendor Registration</h2>

    @using (Html.BeginForm("SupplierRegistration", "Supplier", FormMethod.Post))
    {



        <table>
            <tr>
                <td>User Name</td>
                <td>Phone Number</td>
                <td>Password</td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(XhtmlMobileDocType => XhtmlMobileDocType.SingleSupplier.VendorID)</td>
                <td>@Html.TextBoxFor(XhtmlMobileDocType => XhtmlMobileDocType.SingleSupplier.PHONENUM)</td>
                <td>@Html.PasswordFor(XhtmlMobileDocType => XhtmlMobileDocType.SingleSupplier.PASSWORD)</td>
                <td>@Html.DropDownListFor(x => x.SingleSupplier.UserRole.PKRoleID, Model.UserRoleSelectList) </td>
            </tr>
            <tr>
                <td><input type="submit" title="Register Vendor" /></td>
            </tr>
        </table>
    }
